# IntelliJ project files
.idea
*.iml
out
gen

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

# Environments
env/
venv/

test/
src/config.py
logs/

# Excel
~$*

# mypy
.dmypy.json
.mypy_cache/