[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cryptography = "~=35.0.0"
defusedxml = "~=0.7.1"
matplotlib = "~=3.4.3"
numpy = "~=1.21.2"
openpyxl = "~=3.0.9"
pydantic = "~=1.8.2"
pywin32 = "==301"
sentry-sdk = "*"

[requires]
python_version = "3.7"
